<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <title>Tyler Hill - Local Alignment Algorithms</title>

    <link rel="stylesheet" href="assets/css/align-algs.css">

</head>

<header>

</header>

<body>
    <h1>Visualizing Sequence Alignments</h1>
    <div class="container">

        <div class="input-form">

            <form autocomplete="off" id="seqAlignForm">
                <label for="seq1"><strong>First Sequence</strong></label><br>
                <input type="text" name="seq1" value="AATCG" maxlength="20" required><br><br>
                <label for="seq2"><strong>Second Sequence</strong></label><br>
                <input type="text" name="seq2" value="AACG" maxlength="20" required><br>
                <br>
                <label><strong>Algorithm</strong></label><br>
                <input type="radio" id="sw" name="algorithm" value="Smith-Waterman" checked>
                <label for="sw">Smith-Waterman</label><br>
                <input type="radio" id="nw" name="algorithm" value="Needleman-Wunsch">
                <label for="nw">Needleman-Wunsch</label><br>
                <br>
                <label><strong>Scoring Schema</strong></label><br>
                <label>Match</label><br>
                <input type="range" id="scoring match" name="match" min="1" max="10" value="1" step="1"
                    onchange="this.nextElementSibling.value = this.value"><output>1</output><br>
                <label>Mismatch</label><br>
                <input type="range" id="scoring mismatch" name="mismatch" min="-10" max="-1" value="-1" step="1"
                    onchange="this.nextElementSibling.value = this.value"><output>-1</output><br>
                <label>Gap</label><br>
                <input type="range" id="scoring gap" name="gap" min="-10" max="-1" value="-2" step="1"
                    onchange="this.nextElementSibling.value = this.value"><output>-2</output><br>
                <br>
                <button>Align Sequences</button>
            </form>

        </div>

        <div class="alignments">
            <h3>Aligned Sequences</h3>
            <table class="results">
                <tbody id="alignments">

                </tbody>
            </table>
            <p>Select alignment to see its matrix path</p>
        </div>

        <div class="matrix">
            <h3>Matrix Results</h3>
            <div class="matrix-container" id="matrix-container"></div>
        </div>

        <div class="algo-explanations">

        </div>

    </div>

    <script src="assets/js/align-algs.js"></script>
</body>