<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <title>Tyler Hill - Local Alignment Algorithms</title>

    <link rel="stylesheet" href="assets/css/align-algs.css">

</head>

<header>

</header>

<body>
    <h1>Visualizing Sequence Alignments</h1>
    <p id="note">For display purposes the sequence character limit is capped at 15.</p>
    <div class="container">

        <div class="input-form">

            <form autocomplete="off" id="seqAlignForm">
                <label for="seq1"><strong>First Sequence</strong></label><br>
                <input type="text" name="seq1" value="AATCG" maxlength="15" required><br><br>
                <label for="seq2"><strong>Second Sequence</strong></label><br>
                <input type="text" name="seq2" value="AACG" maxlength="15" required><br>
                <br>
                <label><strong>Algorithm</strong></label><br>
                <input type="radio" id="sw" name="algorithm" value="Smith-Waterman" checked>
                <label for="sw">Smith-Waterman</label><br>
                <input type="radio" id="nw" name="algorithm" value="Needleman-Wunsch">
                <label for="nw">Needleman-Wunsch</label><br>
                <br>
                <label><strong>Scoring Schema</strong></label><br>
                <label>Match</label><br>
                <input type="range" id="scoring match" name="match" min="1" max="5" value="1" step="1"
                    onchange="this.nextElementSibling.value = this.value"><output>1</output><br>
                <label>Mismatch</label><br>
                <input type="range" id="scoring mismatch" name="mismatch" min="-5" max="-1" value="-1" step="1"
                    onchange="this.nextElementSibling.value = this.value"><output>-1</output><br>
                <label>Gap</label><br>
                <input type="range" id="scoring gap" name="gap" min="-5" max="-1" value="-2" step="1"
                    onchange="this.nextElementSibling.value = this.value"><output>-2</output><br>
                <br>
                <button>Align Sequences</button>
            </form>

        </div>

        <div class="alignments">
            <h3>Aligned Sequences</h3>
            <p>Select alignment to see its matrix path</p>

            <div class="results_window">
                <table class="results">
                    <tbody id="alignments">

                    </tbody>
                </table>
            </div>
        </div>

        <div class="matrix">
            <h3>Matrix Results</h3>
            <div class="matrix-container" id="matrix-container">
                <p>Click "Align Sequences" to see the scoring matrix.</p>
            </div>
        </div>

        <div class="algo-explain">
            <div id="smith-waterman">
                <h3>Smith-Waterman Algorithm</h4>
                    <p>
                        This alignment algorithm performs local sequence alignment.
                        Locally aligned sequences optimize for regions of higher
                        sequence similarity over trying to align the entirety of both
                        sequences.<br>
                        <br>
                        The general algorithm strategy is as follows:
                    <ol>
                        <li>Determine the scoring scheme.</li>
                        <li>Construct the scoring matrix. Initialize the first
                            row and column with 0's.
                        </li>
                        <li>Calculate the rest of the scoring matrix.

                        </li>
                        <li>Traceback recursively from the highest score(s) in
                            the matrix until a score of zero is
                            reached, following the pointer(s) of each cell
                            calculated in the previous step.
                        </li>
                        <li>
                            Use the path(s) through the matrix to construct a
                            formatted alignment.
                        </li>
                    </ol>
                    </ol>
                    Details of step 3:<br>
                    To compute the score of each individual cell
                    we actually compute three separate scores and take the max
                    or zero, whatever is higher.
                    To compute these scores we do the following:
                    <ol>
                        <li>
                            Compare the i<sup>th</sup> character from the first
                            sequence and the j<sup>th</sup> character from the
                            second sequence based on the position in the matrix we
                            are determining the score of. If they match note the
                            match score and if they don't note the
                            mismatch score. Now look to the cell diagonally up and
                            left and add its score to the match/mismatch score you
                            noted. Store this result.
                        </li>
                        <li>
                            Look to the cell to the left. Add its score to
                            the gap score since moving laterally in the matrix
                            constitutes a gap in the alignment. Store the result.
                        </li>
                        <li>
                            Look to the cell above. Add its score to the gap
                            score since moving vertically also constitutes a gap in
                            the alignment. Store this result.
                        </li>
                        <li>
                            Take the max score of the three results computed above.
                            If the max is less than 0 we take a score of
                            0 instead.
                        </li>
                        <li>
                            Lastly, we note where the filled in score came from with
                            pointers to that cell (left, up, or diagonally left). If
                            there was a tie in the max score then we store all the
                            relevant pointers. These pointers allow for recursive
                            traceback.
                        </li>
                    </ol>

                    Further details can be found on Wikipedia
                    <a href="https://en.wikipedia.org/wiki/Smith%E2%80%93Waterman_algorithm" target="_blank"
                        rel="noopener noreferrer">here</a>.
                    </p>
            </div>

            <div id="needleman-wunsch">
                <h3>Needleman-Wunsch Algorithm</h3>
                <p>
                    This alignment algorithm performs global sequence alignment.
                    Globally aligned sequences align the entirety of both sequences
                    no matter the amount of gap between characters.<br>
                    <br>
                    The general algorithm startegy is as follows:
                <ol>
                    <li>Determine the scoring scheme.</li>
                    <li>
                        Construct the scoring matrix. Initialize the first row
                        and column where the position in the
                        row or column is equal to the gap score times
                        the respective sequence position.
                    </li>
                    <li>Calculate the rest of the scoring matrix.</li>
                    <li>
                        Traceback recursively from the bottom right corner of
                        the matrix to the top left, following the pointer(s) of
                        each cell calculated in the previous step.
                    </li>
                    <li>
                        Use the path(s) through the matrix to construct a
                        formatted alignment.
                    </li>
                </ol>
                Details of step 3:<br>
                To compute the score of each individual cell
                we actually compute three separate scores and take the max. To
                compute these scores we do the following:
                <ol>
                    <li>
                        Compare the i<sup>th</sup> character from the first
                        sequence and the j<sup>th</sup> character from the
                        second sequence based on the position in the matrix we
                        are determining the score of. If they match note the
                        match score and if they don't note the
                        mismatch score. Now look to the cell diagonally up and
                        left and add its score to the match/mismatch score you
                        noted. Store this result.
                    </li>
                    <li>
                        Look to the cell to the left. Add its score to
                        the gap score since moving laterally in the matrix
                        constitutes a gap in the alignment. Store the result.
                    </li>
                    <li>
                        Look to the cell above. Add its score to the gap
                        score since moving vertically also constitutes a gap in
                        the alignment. Store this result.
                    </li>
                    <li>
                        Take the max score of the three results computed above.
                    </li>
                    <li>
                        Lastly, we note where the score came from with
                        pointers to that cell (left, up, or diagonally left). If
                        there was a tie in the max score then we store all the
                        relevant pointers. These pointers allow for recursive
                        traceback.
                    </li>

                </ol>
                Further details can be found on Wikipedia
                <a href="https://en.wikipedia.org/wiki/Needleman%E2%80%93Wunsch_algorithm" target="_blank"
                    rel="noopener noreferrer">here</a>.
                </p>
                </p>
            </div>
        </div>

    </div>

    <script src="assets/js/align-algs.js"></script>
</body>